.title {
  font-size: 270px !important;
  line-height: 0.8em;
  font-family: serif;
}
h1,h2{
    font-weight: 500;
    line-height: 1.2;
}
.video-container video {
  width: 100% !important;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.digital-marketing-headings .digital-heading h1,.digital-marketing-headings .digital-presence h1{
  font-size: 84px;  
  line-height: 0.9;
  letter-spacing: 0.em;
}
.digital-marketing-headings .digital-heading h1{
    text-align: left;
    max-width: 50%;
    font-family: sans-serif;
}
.digital-marketing-headings .digital-presence h1{
    text-align: right;
    max-width: 50%;
    margin-left: auto;
    font-family: sans-serif;
}
.comp-ljpk9vtd-container {
    display: flex;
}
#comp-ljpk9vtd .comp-ljpk9vtd-container{
    box-sizing: border-box;
    position: relative;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8%;
    flex-grow: 1;
    display: var(--l_display, var(--container-display));
    grid-template-rows: minmax(max-content, 100%);
    grid-template-columns: minmax(0px, 1fr);
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}
.section-three {
    margin-left: 33px;
    margin-right: 33px;
}
.section-five{
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(242,243,240);
}
.echo-project img,.fiden-project img,.nomad-project img , .klob-project img{
    max-width: 630px;
}
.arrow{
    font-size: 18px;
}
.first-grid,.sec-grid{
    padding-bottom: 20px;
}
.our-project-grid{
    background-color: rgba(var(--bg,var(--color_11,color_11)),var(--alpha-bg,1));  
}
.first-grid,.sec-grid{
    display: flex;
    justify-content: space-between;
}
.footer {
    background-color: rgb(95 107 20);
    padding-left: 33px;
    padding-bottom: 30px;
    padding-right: 33px;
    padding-top: 30px;  
}
.seeking-what-next {
    font-size: 90px;
    color: #000000;
    font-family: monospace;
}
.lets-talk{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
ul.footer-link {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a{
    text-decoration: none !important;
    color: #000 !important;
}
.social-media-links{
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}
.ingite-digital-presence, .footer-cnt{
    font-size: 18px;
    color: #000000;
}   

@media only screen and (max-width: 1330px){
    .echo-project img, .fiden-project img, .nomad-project img, .klob-project img{
        max-width: 500px;
    }
}
/* Mobile device */
@media only screen and (max-width: 767px){
    .title{
        font-size: 75px !important;
    }
    .digital-marketing-headings .digital-heading h1{
        font-size: 35px;
    }
    .digital-marketing-headings .digital-presence h1{
        font-size: 35px;
        max-width: 52%;
    }
    .first-grid, .sec-grid{
        flex-direction: column;
    }
    .echo-project img, .fiden-project img, .nomad-project img, .klob-project img{
        max-width: 350px;
        padding-bottom: 15px;
    }
    .section-five{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-three {
        margin-left: 15px;
        margin-right: 15px;
    }
    .seeking-what-next{
        font-size: 31px;
    }
    ul.footer-link{
        flex-direction: column;
        padding-left: 0;
    }
    .social-media-links{
        float: none;
    }
    .ingite-digital-presence, .footer-cnt{
        padding-top: 15px;
    }
    p.footer-cnt.privacy-policy{
        padding-top: 0;
    }
}